<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ypf.mapper.TDogVaccineMapper" >
  <resultMap id="BaseResultMap" type="com.ypf.pojo.TDogVaccine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dog_id" property="dogId" jdbcType="INTEGER" />
    <result column="vaccine_id" property="vaccineId" jdbcType="INTEGER" />
    <result column="vaccine_time" property="vaccineTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, dog_id, vaccine_id, vaccine_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ypf.pojo.TDogVaccineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_dog_vaccine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_dog_vaccine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dog_vaccine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ypf.pojo.TDogVaccineExample" >
    delete from t_dog_vaccine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ypf.pojo.TDogVaccine" >
    insert into t_dog_vaccine (id, dog_id, vaccine_id, 
      vaccine_time)
    values (#{id,jdbcType=INTEGER}, #{dogId,jdbcType=INTEGER}, #{vaccineId,jdbcType=INTEGER}, 
      #{vaccineTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ypf.pojo.TDogVaccine" >
    insert into t_dog_vaccine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dogId != null" >
        dog_id,
      </if>
      <if test="vaccineId != null" >
        vaccine_id,
      </if>
      <if test="vaccineTime != null" >
        vaccine_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dogId != null" >
        #{dogId,jdbcType=INTEGER},
      </if>
      <if test="vaccineId != null" >
        #{vaccineId,jdbcType=INTEGER},
      </if>
      <if test="vaccineTime != null" >
        #{vaccineTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ypf.pojo.TDogVaccineExample" resultType="java.lang.Integer" >
    select count(*) from t_dog_vaccine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_dog_vaccine
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.dogId != null" >
        dog_id = #{record.dogId,jdbcType=INTEGER},
      </if>
      <if test="record.vaccineId != null" >
        vaccine_id = #{record.vaccineId,jdbcType=INTEGER},
      </if>
      <if test="record.vaccineTime != null" >
        vaccine_time = #{record.vaccineTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_dog_vaccine
    set id = #{record.id,jdbcType=INTEGER},
      dog_id = #{record.dogId,jdbcType=INTEGER},
      vaccine_id = #{record.vaccineId,jdbcType=INTEGER},
      vaccine_time = #{record.vaccineTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ypf.pojo.TDogVaccine" >
    update t_dog_vaccine
    <set >
      <if test="dogId != null" >
        dog_id = #{dogId,jdbcType=INTEGER},
      </if>
      <if test="vaccineId != null" >
        vaccine_id = #{vaccineId,jdbcType=INTEGER},
      </if>
      <if test="vaccineTime != null" >
        vaccine_time = #{vaccineTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ypf.pojo.TDogVaccine" >
    update t_dog_vaccine
    set dog_id = #{dogId,jdbcType=INTEGER},
      vaccine_id = #{vaccineId,jdbcType=INTEGER},
      vaccine_time = #{vaccineTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>