<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ypf.mapper.TVaccineMapper" >
  <resultMap id="BaseResultMap" type="com.ypf.pojo.TVaccine" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="vaccine_name" property="vaccineName" jdbcType="VARCHAR" />
    <result column="vaccine_count" property="vaccineCount" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, vaccine_name, vaccine_count
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ypf.pojo.TVaccineExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_vaccine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_vaccine
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_vaccine
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ypf.pojo.TVaccineExample" >
    delete from t_vaccine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ypf.pojo.TVaccine" >
    insert into t_vaccine (id, vaccine_name, vaccine_count
      )
    values (#{id,jdbcType=INTEGER}, #{vaccineName,jdbcType=VARCHAR}, #{vaccineCount,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ypf.pojo.TVaccine" >
    insert into t_vaccine
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vaccineName != null" >
        vaccine_name,
      </if>
      <if test="vaccineCount != null" >
        vaccine_count,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vaccineName != null" >
        #{vaccineName,jdbcType=VARCHAR},
      </if>
      <if test="vaccineCount != null" >
        #{vaccineCount,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ypf.pojo.TVaccineExample" resultType="java.lang.Integer" >
    select count(*) from t_vaccine
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_vaccine
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.vaccineName != null" >
        vaccine_name = #{record.vaccineName,jdbcType=VARCHAR},
      </if>
      <if test="record.vaccineCount != null" >
        vaccine_count = #{record.vaccineCount,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_vaccine
    set id = #{record.id,jdbcType=INTEGER},
      vaccine_name = #{record.vaccineName,jdbcType=VARCHAR},
      vaccine_count = #{record.vaccineCount,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ypf.pojo.TVaccine" >
    update t_vaccine
    <set >
      <if test="vaccineName != null" >
        vaccine_name = #{vaccineName,jdbcType=VARCHAR},
      </if>
      <if test="vaccineCount != null" >
        vaccine_count = #{vaccineCount,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ypf.pojo.TVaccine" >
    update t_vaccine
    set vaccine_name = #{vaccineName,jdbcType=VARCHAR},
      vaccine_count = #{vaccineCount,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>